/* Main box */
/* Apply the styles for the box */
.box4 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
  margin-left: 36%;

  /* Set the width and height of the box */
  width: 350px;
  height: 55px;

  /* White background */
  background: #FFFFFF;

  /* Modal Shadow */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  /* Font styles */
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;

  /* English Violet text color */
  color: #413C58;

  /* Position the box */
  position: absolute;
  top: 100px; /* You can adjust the positioning according to your layout */
  left: 50px; /* You can adjust the positioning according to your layout */

  /* Vector */
  border: 1.5px solid #413C58;
}

.bg__main{
  background-image: url("./bgDesktop.png");
  background-size: cover;
  height: 100vh;
  
}
.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 22px;
  position: absolute;
  width: 350px;
  height: 100px;
  left: 8rem;
  top: 167px;
  text-align: center;
  border: solid 0px ;
  outline: none; /* Add this line to remove the outline */
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 22px;
  position: absolute;
  width: 350px;
  height: 100px;
  left: 8rem;
  top: 167px;
  text-align: center;
  margin-top: 2rem;
  top: 300px;
  margin-left: 33rem;
}
.box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 22px;
  position: absolute;
  width: 350px;
  height: 100px;
  left: 8rem;
  top: 167px;
  text-align: center;
  margin-top: 1.8rem;
  top: 470px;
  margin-left: 33rem;
}
.box3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 22px;
  position: absolute;
  width: 350px;
  height: 100px;
  left: 8rem;
  top: 167px;
  text-align: center;
  margin-top: 1.8rem;
  top: 640px;
  margin-left: 33rem;
}


/* Event Title Card */
.event-title-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 350px;
  height: 148px;
}

/* Frame 59 */
.frame-59 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  gap: 65px;
  width: 350px;
  height: 58px;
  background: #595378; /* Gradient Violet */
  border-radius: 5px 5px 0px 0px;
}

/* Frame 28 */
.frame-28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 236px;
  height: 38px;
}

/* DAY 1 | SPECTRAL FURY */
.day {
  width: 236px;
  height: 22px;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #F0E45D; /* Corn Yellow */
}

/* DECEMBER 27, 2022 | 1PM EVENT */
.event-date {
  width: 190px;
  height: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF; /* White */
}

/* Iconsax/Linear/arrowup2 */
.arrow-icon {
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}

/* Vector */
.vector {
  position: absolute;
  left: 62.71%;
  right: -28.71%;
  top: 17%;
  bottom: 53.43%;
  border: 1.5px solid #FFFFFF;
  transform: rotate(90deg);
}

/* Frame 56 */
.frame-56 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 88px;
  gap: 10px;
  width: 350px;
  height: 29px;
  background: #55917F; /* Wintergreen Primary Green */
}

/* OPEN FOR BETTING */
.open-for-betting {
  width: 159px;
  height: 21px;
  font-family: 'Kallisto';
  font-style: italic;
  font-weight: 900;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF; /* White */
}

/* Frame 60 */
.frame-60 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 35px 12px;
  gap: 10px;
  width: 350px;
  height: 61px;
  background: #FFFFFF; /* White */
  border-radius: 0px 0px 5px 5px;
}

/* Frame 58 */
.frame-58 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 312px;
  height: 20px;
}

/* SHANE VAN BOENING VS DENNIS ORCOLLO */
.match {
  width: 332px;
  height: 20px;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #413C58; /* English Violet */
}

.day1 {
  width: 500px;
  
}
