*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  isolation: isolate;
  position: absolute;
  height: 100px;
  left: 0;
  top: 0;
  background: url(./bgDesktop.png);
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}

/* Inner_Header */
.inner-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px 10px;
  gap: 20px;
  width: 500px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}


/* Iconsax/Linear/arrowleft2 */
.arrow-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 7px;
  top: 35px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

/* Vector */
.vector {
  position: absolute;
  left: 52.93%;
  right: 17.5%;
  top: 17%;
  bottom: 17%;
  border: 1.5px solid #FFFFFF;
}

/* Rest of your existing CSS code goes here */

.register__form-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: 1.5rem;
}

.register__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 60%;
  border: 1.5px solid #413C58;
  background: none;
  border-radius: 0.6rem;
  padding: 1.1rem;
  z-index: 3;
  margin-left: 33rem;
  margin-right: auto;
  font-family: 'Open Sans'; 
  font-style: normal;
  font-weight: 400;
  color: #9D9D9D; /* Updated color to a darker shade of gray */
}


.register__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 2.8rem;
  font-size: var(--smaller-font-size);
  padding: 0.15rem;
  background-color: var(--body-color);
  z-index: 10;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 50;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #413C58;
  margin-left: 31rem;
}

.register__form-tag1 {
  position: absolute;
  top: -0.75rem;
  left: 2.8rem;
  padding: 0.15rem;
  background-color: var(--body-color);
  z-index: 10;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #413C58;
  margin-left: 31rem;
}

.register__form-input1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 60%;
  border: 1.5px solid #413C58;
  background: none;
  border-radius: 0.6rem;
  padding: 1.1rem;
  z-index: 3;
  margin-left: 33rem;
  margin-right: auto;
  font-family: 'Open Sans'; 
  font-style: normal;
  font-weight: 400;
}
.register__form-input2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 60%;
  border: 1.5px solid #413C58;
  background: none;
  border-radius: 0.6rem;
  padding: 1.1rem;
  z-index: 3;
  margin-left: 33rem;
  margin-right: auto;
  font-family: 'Open Sans'; 
  font-style: normal;
  font-weight: 400;
}

.register__title {
  width: 323px;
  height: 31px;
  margin-top: 2rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 33.8rem;
  color: #413C58;
}

.face__verification {
  width: 323px;
  height: 31px;
  margin-right: 2rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 0;
  /* or 133% */
  color: #413C58;
}

.register__title3 {
  width: 323px;
  height: 31px;
  margin-top: 2rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 33.8rem;
  color: #413C58;
}

.register__title4 {
  width: 323px;
  height: 31px;
  margin-top: 2rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 33.8rem;
  color: #413C58;
}

.button__ {
  display: block;
  margin: 0 auto;
  background-color: #F0E45D;
  border-radius: 5px;
  height: 40px;
  width: 33%;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  /* or 114% */
  text-align: center;
  margin-right: auto;
  color: #413C58;
  margin-left: 33rem;
}

.button___ {
  display: block;
  margin: 0 auto;
  background-color: #F0E45D;
  border-radius: 5px;
  height: 40px;
  width: 32.5%;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  /* or 114% */
  text-align: center;
  margin-right: auto;
  color: #413C58;
  margin-left: 33rem;
}

.buttonselfie {
  display: block;
  margin: 0 auto;
  background-color: #F0E45D;
  border-radius: 5px;
  height: 40px;
  width: 365px;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  /* or 114% */
  text-align: center;
  margin-top: 33rem;
  margin-right: 1rem;
  color: #413C58;
  margin-right: auto;

}

/* Progress bar */

.progress-bar {
  width: 199px;
  height: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;
  margin-left: 43.5rem;
}

.progress-bar-line {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #D9D9D9;
  border-radius: 9px;
  z-index: 0;
}

.progress-bar-ellipse {
  width: 30px;
  height: 19px;
  border-radius: 100%;
  margin: 0 25px;
  background: #CED3DC;
  z-index: 1;
}

.progress-bar-ellipse.active {
  background: #F0E45D;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 80%;
  right: 610px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10 /* Add a higher z-index value */
}

.arrow-icon {
  filter: invert(1);
  margin-top: 1rem;
  margin-left: 10px;
}

.register__title1 {
  width: 194px;
  height: 27px;
  margin-left: 44rem;
  margin-top: 8rem;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  /* or 100% */
  letter-spacing: -0.5px;
  color: #413C58;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.register__title2 {

  height: 27px;
  margin-top: 8rem;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */
  letter-spacing: -0.5px;
  color: #413C58;
  order: 0;
  flex-grow: 0;
  text-align: center;

}

.register__p {

  margin-bottom: 1rem;
  width: 520px;
  height: 49px;
  margin-top: 2rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* or 185% */
  color: #000000;
  margin-left: 33rem;
}

.register__p1 {
  margin: auto;
  margin-top: 2rem;

  width: 580px;
  height: 76px;
  margin-bottom: 1rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* or 185% */
  color: #000000;
  margin-left: 33rem;
}

.register__form-upload-button {
  position: absolute;
  margin-right: 30.1%;
  top: 40%;
  right: 5.3%;
  transform: translateY(-20%);
  background-color: #F0E45D;
  padding: 0.3rem 2.9rem;
  font-family: 'Kallisto';
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  text-align: center;
  line-height: 25px;
  color: #413C58;
}

.box {
  box-sizing: border-box;
  position: absolute;
  width: 32.9%;
  height: 79px;
  margin-top: 0.5px;
  margin-left: 33.1rem;
  background: #CED3DC;
  border: 1px dashed #413C58;
  border-radius: 5px;
}

.icon {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 151px;
  top: 13px;
  margin-left: 5.5rem;
  /* Iconsax/Linear/camera */
}

.icon img {
  width: 100%;
  height: 100%;
}

.legal__ {
  width: 170xpx;
  height: 24px;
  margin-left: 33.5rem;
  margin-top: 9rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #413C58;
  margin-bottom: 0.5rem;
}

.text {
  position: absolute;
  width: 129px;
  height: 16px;
  left: 109px;
  top: 60px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  /* Dark Grey */
  color: #9D9D9D;
  margin-left: 6rem;
}

.text5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 365px;
  height: 45px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

}

.text6 {
  margin-top: 1.5rem;

  height: 45px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;

}

.text7 {
  margin-top: 0.5rem;
  width: 700px;
  height: 45px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-right: 19rem;
}

.frame-306 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 21px;
  height: 50px;
  margin-left: 31rem;
}

.checkbox-container {
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 1.5rem;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;  
  margin-left: 30%;
  background-color: #F0E45D;
  border-radius: 5px;
  margin-top: 1rem;
}

.checkbox-checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;  
  margin-left: 30%;
  background-color: #F0E45D;
  border-radius: 5px;
  margin-top: 1rem;
}

.checkbox-checkmark3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;  
  margin-left: 30%;
  background-color: #F0E45D;
  border-radius: 5px;
  margin-top: 1rem;
}

.checkbox-input:checked ~ .checkbox-checkmark::before,
.checkbox-input:checked ~ .checkbox-checkmark2::before,
.checkbox-input:checked ~ .checkbox-checkmark3::before {
  background: #413C58;
}

.checkbox-checkmark::after,
.checkbox-checkmark2::after,
.checkbox-checkmark3::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-input:checked ~ .checkbox-checkmark::after {
  display: block;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #413C58;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-input:checked ~ .checkbox-checkmark2::after {
  display: block;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #413C58;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-input:checked ~ .checkbox-checkmark3::after {
  display: block;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #413C58;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}



.note__ {
  width: 500px;
  height: 73px;
  margin-left: 32.8rem;
  margin-top: 1rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  /* or 160% */
  text-align: left;
  color: #413C58;
}
.register__face {
  font-family: 'Kallisto';
font-style: normal;
font-weight: 700;
font-size: 24px;

/* identical to box height, or 100% */  

color: #413C58;

}
.babae {
  position: absolute;
width: 261px;
height: 338px;
left: calc(50% - 261px/2 - 2px);
top: 175px;
margin-top: 1rem;
}
.selfie {
  position: absolute;
width: 268px;
height: 43px;
left: calc(50% - 268px/2 + 0.5px);
top: 540px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* or 133% */
text-align: center;
margin-top: 1rem;

/* English Violet */
color: #413C58;

}
.facial {
  position: absolute;
width: 304px;
height: 47px;
left: calc(50% - 304px/2 + 0.5px);
top: 588px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* or 150% */
text-align: center;
margin-top: 1rem;

/* Dark Grey */
color: #9D9D9D;

}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* End Of MOBILE VIEW CSS */

@media screen and (max-width: 430px) {
  .main-header {
    width: 110%;
  }
  .register__title {
    margin-bottom: 0.5rem;
    margin-left: 2.5rem;
    font-size: 16px;
  }
  .register__title1 {
    margin-left: 7.5rem;
  }
  .register__title3 {
    margin-left: 2.5rem;
    font-size: 16px;
  }
  .register__title4 {
    margin-left: 2.5rem;
    font-size: 16px;
  }
  .progress-bar {
    margin-left: 6.8rem;
  }
  .register__form-input {
    margin-left: 2rem;
    width: 88%;
  }
  .register__form-input1 {
    margin-left: 2rem;
    width: 88%;
  }
  .register__form-input2 {
    margin-left: 2rem;
    width: 88%;
  }
  .register__form-tag {
   margin-left: 0.1rem;
  }
  .register__form-tag1 {
    margin-left: 0.1rem;
    margin-right: auto;
   }
  .button__ {
    margin-left: 1.6rem;
    width: 90%;
  }
  .register__p {
    margin-left: 2rem;
    width: 310px;
  }
  .register__p1 {
    margin-left: 2rem;
    width: 310px;
  }
  .button___ {
    margin-left: 4rem;
  }
  .box {
    margin-left: 1.8rem;
    width: 89%;
    height: 9%;
  }
  .icon {
    margin-left: 0.5rem;
  }
  .text {
    margin-left: 1rem;
  }
  .text5 {
     margin-top: 2.5rem;
    margin-left: 2rem;
    width: 300px;
    font-size: 15px;

  }
  .text6 {
    margin-left: 2rem;
    font-size: 15px;
    width: 320px;
    margin-top: 3rem;

  }
  .text7 {
    margin-left: 2rem;
    font-size: 15px;
    width: 700px;
    padding-right: 26rem;
    margin-top: 4rem;
  }
  .note__ {
    margin-left: 3rem;
    font-size: 18px;
    text-align: center;
    padding-right: 10rem;
    margin-top: 4rem;
    
  }
  .legal__ {
    margin-left: 8rem;
  }
  .checkbox-container {
   width: 1px;
   margin-left: 1rem;
  
  position: relative;
  }
  .button___ {
    width: 300px;
    margin-top: 1rem;
    width: 92%;
    margin-left: 1.5rem;
  }
  .frame-306 {
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
  }


.checkbox-checkmark {
  height: 30px;
  width: 30px;
  margin-right: 4rem;
  margin-top: 1rem;
}
.checkbox-checkmark2 {
  height: 30px;
  width: 30px;
  margin-right: 4rem;
  margin-top: 1.4rem;
}
.checkbox-checkmark3 {
  height: 30px;
  width: 30px;
  margin-right: 4rem;
  margin-top: 2.8rem;
}
.checkbox-input:checked ~ .checkbox-checkmark2::after {
  width: 12px;
  height: 20px;
  right: 3%;
}



.checkbox-input:checked ~ .checkbox-checkmark::after {
  width: 9px;
  height: 19px;
}
.checkbox-input:checked ~ .checkbox-checkmark2::after {
  width: 9px;
  height: 19px;
}


.checkbox-input:checked ~ .checkbox-checkmark3::after {
  width: 9px;
  height: 19px;
}

.register__form-upload-button {
  margin-right: 0.1px;
  width: 180px;  
  left: 52%;
}
.register__form-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}
}



:root {
  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*========== Font and typography ==========*/

  /*.5rem = 8px | 1rem = 16px ...*/

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== GOOGLE FONTS ===============*/
@font-face {
  font-family: 'Kallisto';
  src: url('./Kallisto Medium.otf') format('truetype');
  /* Add additional src lines if you have multiple font file formats */
}

body {
  font-family: 'Kallisto', sans-serif;
  overflow-x: hidden;
}




